/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;

  }
  
  body {
    margin: 20px;
  }
  
  article {
    font-size: 1.2rem;
  }
  
  h1 {
    font-size: 1.4rem;
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
  }
  
  main {
  
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  figure {
    margin: 16px 0;
  }

  figure img {
  
  }
  
  figcaption {
    font-size: 1.1rem;
  }

  @media screen and (min-width: 494px) {
    body {
      background-color: #81B29A;
      margin: 30px;
    }

    h1 {
      font-size: 2.3rem;
    }

    article {
      font-size: 1.3rem;
    }
  }

  @media screen {
      
  }