.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    top: 360px;
    position: absolute;
    left: 150px;
  }
  
  .baloon {
    position: absolute;
    top: 100px;
    left: 300px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 140px;
    left: 320px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 250px;
    left: 600px;
  }