* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
  }
  
  body {
    background-color: rgb(247, 247, 247);
  }
  
  .header-container {
    background-color: #5C687C;
    display: flex;
  }
  
/*   1 - Adicione uma propriedade que defina o tamanho Flexbox base para o container da imagem 268px e para o container do menu 500px . Após aplicar as propriedades o header deverá estar similar a imagem abaixo: */
  .logo-container {
    display: flex;
    justify-content: center;
    flex-basis: 268px;
    order: -1;
  }
  
  .menu-container {
    display: flex;
    flex-basis: 500px;
    /* order: 1; ou order -1 no .logo-container*/
  }

  .menu-container ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .menu-container li {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    list-style: none;
    margin-right: 10px;
  }