* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}
  
body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  background-color: #5C687C;
  display: flex;
}
  
/*   1 - Adicione uma propriedade que defina o tamanho Flexbox base para o container da imagem 268px e para o container do menu 500px.  */
.logo-container {
  display: flex;
  justify-content: center;
  flex-basis: 268px;
  order: -1;
}

/*   2 - Adicione uma propriedade Flexbox que modifique a ordem em que a logomarca e os itens do menu aparecem na tela. */ 

/* 3 - Adicione uma propriedade Flexbox que faça o container do menu crescer, quando houver espaço disponível.  */

/* 4 - Utilize a propriedade align-self no elemento correto para que o header da página fique com o menu centralizado verticalmente */
.menu-container {
  display: flex;
  flex-basis: 500px;
  flex-grow: 1;
  /*   align-self: center; no caso coloca na ul para ser mais específico*/
  /* flex: 1; ou flex-grow*/
  /* order: 1; ou order -1 no .logo-container*/
}

.menu-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-self: center;
}

.menu-container li {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-container {
  display: flex;
  flex-direction: column;
}

.movie-container h2 {
  margin: 40px 0;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container div {
  align-items: center;
  background-color: #5C687C;
  border: black solid 1px;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 10px;
}

.aside-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.aside-container h3, h4 {
  margin-bottom: 10px;
  text-align: center;
}

.aside-container p {
  margin: 10px 0;
  text-align: justify;
}