      h1 {
        font-size: 65px;
        color: orange;
        font-family: sans-serif;
      }

      ul {
        background-color: darkgray;
      }

      #paragrafo {
        font-weight: 600;
        font-size: 3em;
        text-align: center;
      }     

      #amarelo {
        background: yellow;
      }

      #vermelho{
        background: red;
      }

      #marrom {
        background: brown;
      }

      .fundo {
        background-color: rgb(100, 187, 107);
        font-style: oblique;
        line-height: 50px;
        text-align: center;
        text-decoration: double;
        font-size: 25px;
      }
      
      body { 
        font-size: 16px;
      }