* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(224, 207, 240);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header , .footer {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.div-header , .div-footer {
  background-color: blueviolet;
  padding: 20px 40px;
  border-radius: 15px;
  color: rgb(237, 226, 248);
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 1220px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 1.2rem;
  line-height: 40px;
  background-color: rgb(183, 143, 219);
  color: rgb(59, 5, 112);
  width: 600px;
  border-radius: 20px;
}
